* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    max-width: 900px;
    min-height: 100vh;
    background-image: url("https://media.wired.com/photos/627da1085d49787abdf713b4/master/pass/Pakistani-Gamers-Want-a-Seat-at-the-Table-Culture-shutterstock_1949862841.jpg");
    background-color: #555555;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #8900f2;
    box-shadow: 5px 5px 20px black;
    border-radius: 25px;
}

.page-title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 2rem;
}

table {
    border: none;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin-top: 1.5rem;
}

table {
    text-align: center;
}

th,
tr,
td {
    border: none;
    color: white;
}

label {
    color: white;
    font-size: 15px;
    line-height: 1.5rem;
}

.btn-container {
    margin-bottom: 0.5rem;
    text-align: center;
}

.generic-btn {
    margin-top: 0.5rem;
    color: #8900f2;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 0.4rem;
}

.action-btn {
    color: #8900f2;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 0.3rem 0.7rem;
}

#inputName,
#inputIcon {
    text-align: center;
    padding: 0.3rem;
    border: 1px solid white;
    border-radius: 10px;
}


.generic-btn:hover,
.action-btn:hover {
    cursor: pointer;
}

.player-icon {
    margin-top: 0.5rem;
    height: 35px;
    width: 35px;
    border-radius: 20px;
}

.sec-btn-container {
    margin-top: 3rem;
    text-align: end;
}

.sec-btn-container .generic-btn:first-child {
    margin-right: 0.5rem;
}

#mensagemErro {
    color: orange;
    font-weight: bold;
    font-size: 16px;
    margin: 1.5rem 0 1rem 0;
}